table, th, td{

    border-top: 2px solid wheat;
    border-collapse: collapse;
}

th, td {

    font-size: 20px;
    padding: 15px;
}

table{

    width: 70%;
    margin: auto;
    margin-top: 60px;
    font-size: 20px;
}


th{

    background-color: dodgerblue;
    color: white;
}

caption{

    background-color: orange;
    width: 30%;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
}